html {
    box-sizing: border-box !important;
  }
body {
    background-color: #f5f5dc;
    font-family: Montserrat;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif;
    animation: fadein 2s;
    margin: 0px;
}

#title {
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -9px;
}
#titlepage {
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px; margin-top: 20px;
}
#standings {
    width:fit-content;
    border: 5px solid #000;
    border-radius: 25px;
    margin: auto;
    background-color: #00000022;
}
.team {
    padding: 10px;
    display: flex;
    height: 50px;
    align-items: center;
}
.seasontype {
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
}
.e {
    margin-right: 10px;
    border-right: 2px #00000066 solid;
    padding-right: 10px;
}
.pos {
    font-weight: 500;
    width: 10px;
    text-align: center;
}
.tname {
    font-weight: 900;
    width: 120px;
    text-align: center;
}
.record {
    width: 105px;
    text-align: center;
}
.average {
    width: 55px;
    text-align: center;
}
.hr {
    width: 75px;
    text-align: center;
}
.gp {
    width: 75px;
    text-align: center;
}
.bor {
    border-bottom: #000 solid 4px;
}
@media screen and (max-width: 760px) {
    .nom {
        display: none;
    }
    .average {
        border-right: none;
        padding-right: 0px;
        margin-right: 0px;
    }
}
.ps {
    width: 95px;
    text-align: center;
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}
#container {margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#buttons {
    display: flex;
    width: 100%;
}
#games {
    width: 175px;
    height: 50px;
    background-color: #950952;
    border: #000 5px solid;
    color: #fff;
    font-family: Montserrat;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 1s ease-in-out, border 1s ease-in-out, width 1s ease-in-out;
}
#gamesover {
    margin: auto;
    margin-top: 10px;
    
}
#games:hover {
    background-color: #ad668b;
    border: #000 7px solid;
    width: 200px;
    cursor: pointer;
}
hr {
    height: 5px;
    border-radius: 2.5px;
    background-color: #000;
} 
.a {
    color: #005C69;
    text-decoration: none;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.gamecontainer {
    background-color: #00000022;
    width: 100%;
    margin: 0px;
    margin-top: 5px; margin-bottom: 5px;
}
.game {
    margin: auto;
    margin-top: 5px; margin-bottom: 5px;
    width: 500px;
}
#schedule {
    background-color: #00000022;
    height: 500px;
    padding: 10px;
    text-align: center;
}
.schedulept {
    margin: 0px !important;
}